# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / build
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script, before or after the dist/
#  and build/ directories are created.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the Python version
#   is customized by the app using the library; however, for an application, you should
#   probably set it to the Python version you'd like to use:
# .python-version

# pipenv
#   According to pypa/pipenv#1185, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or even
#   fail to install, on other platforms.
#Pipfile.lock

# poetry
#   Similar to Pipenv, it is generally recommended to include poetry.lock in version control.
#   poetry.lock
#   pyproject.toml is usually tracked.

# pdm
#   Similar to Pipenv, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   .pdm-python is usually ignored.
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Frontend dependencies
node_modules/
jspm_packages/
.npm
.eslintcache
.stylelintcache
.prettiercache
.parcel-cache
.next
.nuxt
.svelte-kit

# Frontend Build
dist/
out/
build/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Project-specific
backend/ml/saved_models/
backend/scratch/
frontend/.env
run.txt
tree.txt
tree_utf8.txt
project_manifest.md
